<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<h1>M'enregistrer !!!</h1>

<form method="post" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" type="text" th:field="*{username}" placeholder="Username">

    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

    <label for="password">Username</label>
    <input id="password" type="password" th:field="*{password}" placeholder="Password">

    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />

    <input type="submit">
</form>

<a th:href="@{/login}">Me connecter</a>
</body>
</html>