<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<h1>Bonjour Tu es connecté  !</h1>
<h2 th:text="${username}"></h2>
<div sec:authentication="principal.username"></div>

<a th:href="@{/logout}">Me déco</a>
</body>
</html>